<!DOCTYPE html>
<html>
<head>
	<title>Titanic</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>
	<div class = "container" style = "margin: 25px auto; text-align: center;">
		<div class="jumbotron">
			<h1 class="display-4">Titanic Prediction API</h1>
			<p class="lead">A simple Flask API to predict weather a passenger survived or not!</p>
			<a class="btn btn-primary btn-lg" href="/predict" role="button">Predict!</a>
		</div>
	</div>
</body>
</html>