<!DOCTYPE html>
<html>
<head>
	<title>Predict</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
	<nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Titanic-Predict</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/">Home</a></li>
                    <li><a href="/predict">Predict</a></li>
                </ul>
            </div>
        </div>
    </nav>
	{% if output == 1 or output == 0: %}
	<div class = "container">
		<div class = "jumbotron">
			<h1>The prediction is {{ output }}</h1>
		</div>
	</div>
	{% endif %}
	<div class = "container">
		<form method="POST" name="Inputs">
		
		<div class = "row">
		  <div class = "col-md-6">
			  <div class="form-group">
			    <label for="name">Name</label>
			    <input type="text" class="form-control" id="name" placeholder="John Doe" name="Name">
		  	  </div>
		  </div>
		  <div class = "col-md-6">
		  	<div class="form-group">
			    <label for="Ticket">Ticket</label>
			    <input type="text" class="form-control" id="Ticket" placeholder="Ticket_id" name="Ticket">
		  	</div>
		  </div>
		</div>	

		<div class = "row">
		  <div class = "col-md-6">
			<div class="form-group">
				<label for="Pclass">Class</label>
				<select class="form-control" id="Pclass" name="Pclass">
					<option>1</option>
					<option>2</option>
					<option>3</option>
				</select>
			</div>
		  </div>
		  <div class = "col-md-6">
		  	<div class="form-group">
		    <label for="Fare">Fare</label>
		    <input type="text" class="form-control" id="Fare" placeholder="48.25" name="Fare" value = "48.25" required>
		  </div>
		  </div>
		</div>

		<div class = "row">
			<div class = "col-md-6">
				<div class="form-group">
					<label for="Sex">Sex</label>
					<select class="form-control" id="Sex" name="Sex">
						<option>male</option>
						<option>female</option>
					</select>
				</div>
			</div>
			<div class = "col-md-6">
				<div class="form-group">
					<label for="Age">Age</label>
					<input type="text" class="form-control" id="Age" placeholder="48.25" name="Age" value = "48.25" required>
				</div>
			</div>
		</div>		
		  
		<div class = "row">
			<div class = "col-md-6">
				<div class="form-group">

					<label for="SibSp">SibSp</label>
					<select class="form-control" id="SibSp" name="SibSp">
						<option>0</option>
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
						<option>6</option>
						<option>7</option>
						<option>8</option>
					</select>
			</div>
			</div>

			<div class = col-md-6>
				<div class="form-group">
					<label for="Parch">Parch</label>
					<select class="form-control" id="Parch" name="Parch">
						<option>0</option>
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
						<option>6</option>
					</select>
				</div>
			</div>
		</div>

		  <div class="form-group">
		    <label for="Embarked">Embarked</label>
		    <select class="form-control" id="Embarked" name="Embarked">
		      <option>S</option>
		      <option>C</option>
		      <option>Q</option>
		    </select>
		    </div>
		  
		  
		  <button class = "btn btn-primary">Submit</button>
		</form>
	</div>
</body>

</html>
